body{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: url("images/bg1-min.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
}

.card{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 22rem;
    border : 12px solid white;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.5);
}

.card2{
    background-color: white;
    width: 44rem;
}

.img{
    margin-top: 1rem;
    background-color: #336268;
    border-radius: 80px;
}

.polygon{
    padding-bottom: 1rem;
    background-color: white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

.icon:hover{
    transform: scale(1.2);
    transition: 200ms;
    opacity: calc(100% - 40%);
}

.hidden{
    display: none;
}